#computerCards {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
}

#userCards {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
}

#user {
  margin-bottom: 0px;
  margin-top: 0px;
}

#computer {
  margin-top: 25px;
}

#game {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 300px;
}

#goFish {
  background-color: cadetblue;
  border: 20px groove midnightblue;
  border-radius: 50%;
  border-style: groove;
  font-family: 'Luckiest Guy', cursive;
  font-size: 30px;
  /*gradient*/
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#deck {
  border-radius: 8px;
  height: 120px;
  width: 90px;
}

.imgCardBack {
  border-radius: 8px;
  height: 300px;
  width: 80px;
}

.score {
  font-family: 'Luckiest Guy', cursive;
}

.player {
  font-family: 'Luckiest Guy', cursive;
}

.playerCard {
  height: 200px;
  width: 80px;
}

.flash {
  font-family: 'Luckiest Guy', cursive;
  -webkit-animation: neon3;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-duration: 1s;
  -moz-animation: neon3;
  -moz-animation-iteration-count: 1;
  -moz-animation-duration: 1s;
  animation: neon3;
  animation-iteration-count: 1;
  animation-duration: 1s;
}

body {
  background-color: #0C656A;
}

main {
  max-height: 100vh;
  display: flex;
  flex-flow: column;
}

* {
  box-sizing: border-box;
}

@-webkit-keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px black, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px black, 0 0 150px black;
  }
}

@-moz-keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px black, 0 0 70px #FFDD1B, 0 0 80px black, 0 0 100px black, 0 0 150px black;
  }
}

@keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px black, 0 0 70px #FFDD1B, 0 0 80px black, 0 0 100px black, 0 0 150px black;
  }
}
